<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/draysams/bicihub/releases/download/latest/Runner.ipa</string>
		<key>displayImageURL</key>
		<string>https://raw.githubusercontent.com/draysams/bicihub/master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29%402x.png</string>
		<key>fullSizeImageURL</key>
		<string>https://raw.githubusercontent.com/draysams/bicihub/master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024%401x.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<false/>
	<key>teamID</key>
	<string>7Q7JMT3A8W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
